* {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
  /* background-color: #fff; */
}

.timer-all {
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: center;
}
.timer-set {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

#datetime-picker {
  width: 272px;
  padding: 8px 16px;
  font: inherit;
  border-radius: 4px;
  border: 1px solid #808080;
  outline: none;
}

#datetime-picker:hover {
  border-color: #000000;
}

#datetime-picker:active,
#datetime-picker:focus {
  color: #000000;
  border-color: #4e75ff;
}

#datetime-picker:disabled {
  color: #808080;
  border-color: #808080;
  background-color: #fafafa;
  /* pointer-events: none;  Відключені всі події */
}

#datetime-picker:disabled:hover {
  cursor: not-allowed; /* Курсор not-allowed - "заборонено" */
}

.btn-start {
  display: flex;
  cursor: pointer;
  padding: 8px 16px;
  border-radius: 8px;
  outline: none;
  border: none;
  font: inherit;
  font-weight: 500;
  color: #ffffff;
  background-color: #4e75ff;
}

.btn-start:hover,
.btn-start:focus {
  background-color: #6c8cff;
}

.btn-start:disabled {
  color: #989898;
  background-color: #cfcfcf;
  /* cursor: not-allowed; */
  /* pointer-events: none; Відключені всі події */
}

.btn-start:disabled:hover {
  cursor: not-allowed; /* Курсор not-allowed - "заборонено" */
}

.timer {
  display: flex;
  flex-direction: row;
  gap: 24px;
}

.field {
  display: flex;
  flex-direction: column;
  gap: 0;
  align-items: center;
}

.value {
  font-size: 40px;
  line-height: 1.2;
}

.label {
  font-size: 16px;
  text-transform: uppercase;
}
